.main_cart {
    min-height: 100vh;
    font-family: "roboto", serif;
}
.row {
   
    font-weight: 600;

}
.row p{
    margin-bottom: 8x;
}

h1 {
    font-weight: 400
}

.item_list {
    background-color: rgb(234, 234, 234);
}

i{
    font-size: 1.5rem;
}

.quantity_btn{
    border: solid 1px gray;
}
.btnleft, .btnright{
    padding-left: 10px;
    padding-right: 10px;
    border:solid 1px gray;
    border-top-style: none;
    border-bottom-style: none;
    font-size: 1rem;
    font-weight: 500;
}
.btnleft{
   border-left-style: none;
}
.btnright{
    border-right-style: none;
}

@media (max-width: 576px) {
    i{
    font-size: 1.1rem;
    } 
    .row p{
       font-size: 0.6rem;
    }

}
@media (max-width: 768px) {
    i{
        font-size: 1.3rem;
    }
    .row p{
        font-size: 0.8rem;
    }
}
@media (min-width: 992px) {

}
/* @media (min-width: 576px) {

}

@media (min-width: 768px) {

} */



@media (min-width: 1200px) {

}
.sub-bill{
    border:solid 0.01rem gray;
    padding: 10px 15px 0px 15px;
    box-shadow: 1px 1px 2px rgba(210, 210, 210, 0.925);
}