<!-- <app-home-carousel></app-home-carousel> -->

<div class="container home_container">
    <div class="home_main d-flex flex-md-row flex-sm-column-reverse   w-100 align-items-center justify-content-center min-vh-100">
      <div class="main_home_left d-flex justify-content-center align-items-center col-md-6 padding">
        <div class="one d-flex justify-content-between flex-column p-5 w-100">
          <h1>Online Food</h1>
          <p>Freshness</p>
          <p>every bite</p>
          <span class="satisfy-text">our favorite cuisines, one click away.</span>
          <span class="satisfy-text"> satisfy your cravings effortlessly.</span>
          <a href="/menu" class="btn btn-sm active rounded-0 p-2" style="max-width: 150px;background-color: #171A21;color:#EDF4ED;margin-top: 10px;" role="button" aria-pressed="true">Explore Menu...</a>
        </div>
      </div>
      <div class="col-md-6 bg-red">
        <div class="two d-flex justify-content-center ">
          <img loading='lazy' [src]="images[currentImageIndex]" class="mySlides img-fluid" alt="Food Pickup">
        </div>
      </div>
    </div>
  </div>
